.service{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom:30px;
    padding-right: 7px;
    padding-top: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.product-title{
    color: cadetblue;
}
.price{
  
    color: cornflowerblue;
    font-size: 20px;
    
}
.service img{
    border-radius: 5px;
    margin-left: 3.5px;
    margin-top: 0;
}
.shado{
    background-color: rgb(35, 68, 57);
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}