.service:hover{
    border: 1px solid lightgray;
    padding: 6px;
    background-color: blanchedalmond;
    box-shadow: 0 2px 6px 0 rgba(244, 19, 19, 0.2), 0 6px 20px 0 rgba(199, 255, 29, 0.19);
    
}
.service{
   padding: 6px;
    background-color: blanchedalmond;
}
.product-title{
    color: rgb(157, 65, 12);
}
.price{
  
    color: rgb(22, 5, 37);
    font-size: 20px;
    
}
.service img{
    border-radius: 5px;
    margin-left: 3.5px;
    margin-top: 0;
}
.shado{
    background-color: rgb(0, 181, 121);
   
    
}