body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.banner{
  height: 700px;
  width: 100%;
}
.content{
  /* margin: 0 40px 0 40px; */
  border-radius: 20px;
  
}
/* .button{
  margin-left: 100px;
} */
.margin{
  margin-top: 70px;
}
.bg{
  height: 100vh;
  background-color: #F7ECDE;
}
.bg1{

  background-color: #F7ECDE;
}
.botom{
  
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background:  #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}
